extends partial/layout

block site_title
    !=  __("Archive") + " · " + config.title

block description
    - var desc = __("Archive") +' - ' + config.title;
    meta(name="description", content=desc)

block content
    .autopagerize_page_element: .content
        .archive.animated.fadeInDown
            ul.list-with-title
                include mixins
                +postList()
        include mixins
        +make_pager(__('prev'), __('next'))
