extends partial/layout

block site_title
    != page.tag + " · " + config.title

block description
    - var desc = __("Tags")+': ' + page.tag + ' - ' + config.title;
    meta(name="description", content=desc)

block content
    .autopagerize_page_element: .content
        p.post-title
            != __("Tags")+' ' + page.tag
        .archive.animated.fadeInDown
            ul.list-with-title
                include mixins
                +postList()
            .controller
                include mixins
                +make_pager(__('prev'), __('next'))
