@import url("//fonts.lug.ustc.edu.cn/css?family=Source+Sans+Pro:100,300,400,600");
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(20px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

/* Firefox < 16 */
@-moz-keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(20px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(20px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

/* Internet Explorer */
@-ms-keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(20px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

/* Opera < 12.1 */
@-o-keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(20px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes fadein-top {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

/* Firefox < 16 */
@-moz-keyframes fadein-top {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein-top {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

/* Internet Explorer */
@-ms-keyframes fadein-top {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

/* Opera < 12.1 */
@-o-keyframes fadein-top {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes swift-down {
  from {
    transform: translateY(0%); }
  to {
    transform: translateY(20%); } }

/* Firefox < 16 */
@-moz-keyframes swift-down {
  from {
    transform: translateY(0%); }
  to {
    transform: translateY(20%); } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes swift-down {
  from {
    transform: translateY(0%); }
  to {
    transform: translateY(20%); } }

/* Internet Explorer */
@-ms-keyframes swift-down {
  from {
    transform: translateY(0%); }
  to {
    transform: translateY(20%); } }

/* Opera < 12.1 */
@-o-keyframes swift-down {
  from {
    transform: translateY(0%); }
  to {
    transform: translateY(20%); } }

.invisible {
  opacity: 0; }

.fadeIn {
  -webkit-animation: fadein 1s ease-out;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s ease-out;
  /* Firefox < 16 */
  -ms-animation: fadein 1s ease-out;
  /* Internet Explorer */
  -o-animation: fadein 1s ease-out;
  /* Opera < 12.1 */
  animation: fadein 1s ease-out; }

.fadeInRight {
  -webkit-animation: fadein-right 1s ease-out;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein-right 1s ease-out;
  /* Firefox < 16 */
  -ms-animation: fadein-right 1s ease-out;
  /* Internet Explorer */
  -o-animation: fadein-right 1s ease-out;
  /* Opera < 12.1 */
  animation: fadein-right 1s ease-out; }

.fadeInTop {
  -webkit-animation: fadein-top 1s ease-out;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein-top 1s ease-out;
  /* Firefox < 16 */
  -ms-animation: fadein-top 1s ease-out;
  /* Internet Explorer */
  -o-animation: fadein-top 1s ease-out;
  /* Opera < 12.1 */
  animation: fadein-top 1s ease-out; }

.swiftDown {
  -webkit-animation: swift-down 1s ease-out;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: swift-down 1s ease-out;
  /* Firefox < 16 */
  -ms-animation: swift-down 1s ease-out;
  /* Internet Explorer */
  -o-animation: swift-down 1s ease-out;
  /* Opera < 12.1 */
  animation: swift-down 1s ease-out; }

.swiftDownReversed {
  -webkit-animation: swift-down 1s reverse ease-out;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: swift-down 1s reverse ease-out;
  /* Firefox < 16 */
  -ms-animation: swift-down 1s reverse ease-out;
  /* Internet Explorer */
  -o-animation: swift-down 1s reverse ease-out;
  /* Opera < 12.1 */
  animation: swift-down 1s reverse ease-out; }

html,
body,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /*
font-family: "Source Han Serif CN", "Source Han Serif SC", "Source Han Serif TC",
"Source Sans Pro", "Source Han Sans SC", "Source Han Sans TC",
"PingFang SC", "PingFang HK", "PingFang TC", sans-serif;
*/
  /*
font-family: "PT Serif", "Source Han Serif CN", "Source Han Serif SC", "Source Han Serif TC", "Source Han Sans SC",
 "Source Han Sans TC", "PingFang SC", "PingFang HK", "PingFang TC", "Source Sans Pro", sans-serif;
 */
  font-family: "Source Sans Pro", "Roboto", "Helvetica", "Helvetica Neue", "Source Han Sans SC", "Source Han Sans TC", "PingFang SC", "PingFang HK", "PingFang TC", sans-serif;
  color: #ffffff; }

html {
  background: #2e405b; }

.foreground {
  background: #ffffff !important; }

.background {
  background: #2e405b !important; }

.foreground-text * {
  color: #ffffff !important; }

.background-text * {
  color: #2e405b !important; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

body {
  font-size: 18px;
  line-height: 1.5em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACJJREFUeNpi/P//Py8DpQCXISBxJlING4QaGEdDiQgAEGAAg8sST3LGZYoAAAAASUVORK5CYII=");
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  min-height: 100vh; }

.container {
  background-color: transparent;
  padding: 0;
  position: relative; }

.full-width-container {
  width: 100vw; }

.main-container {
  text-align: left;
  margin: 0;
  padding: 80px 40px;
  overflow: hidden;
  float: left; }

.main-container :nth-child(1) {
  margin-top: 0; }

.row {
  margin: 0; }

.vertical-text {
  writing-mode: vertical-rl; }

.vertical-text * {
  line-height: 1;
  text-align: left; }

.side-container {
  height: 100vh;
  position: fixed;
  right: 0;
  font-style: normal;
  font-size: 1em;
  margin: 0;
  transform: rotate(0deg);
  text-align: left;
  float: right;
  padding: 80px 20px; }

.ar-year {
  margin-top: 5px;
  margin-bottom: 5px; }

.date {
  margin-bottom: 0px; }

.ar-date {
  font-size: 16px;
  margin-bottom: 5px; }

.archive :first-child {
  padding-left: 0; }

.site-title {
  font-weight: bolder;
  font-style: normal;
  width: auto;
  height: auto;
  margin: 0 0 0 -2px;
  text-align: left;
  font-size: 0.5em;
  padding: 0 0 50px 0;
  border-left: solid #ffffff 2px;
  transition: padding 0.8s ease 0s, background 0.8s ease 0s; }

.site-title:hover {
  padding: 15px 0 35px 0;
  color: #2e405b !important;
  background: #ffffff !important;
  border-left: solid #ffffff 2px; }

.site-title:hover * {
  color: #2e405b !important; }

.site-title * {
  text-align: left;
  font-weight: bolder;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 0;
  font-family: "HiraMinProN-W6", "Source Han Serif CN", "Source Han Serif SC", "Source Han Serif TC", "Source Sans Pro", "Roboto", "Helvetica", "Helvetica Neue", "Source Han Sans SC", "Source Han Sans TC", "PingFang SC", "PingFang HK", "PingFang TC", sans-serif;
  /*font-family: "PT Serif", "Source Han Serif CN", "Source Han Serif SC", "Source Han Serif TC", "HiraMinProN-W6", "HiraMinProN-W3", serif;*/ }

.site-title-large {
  font-size: 50px;
  padding-top: 0; }

.site-title-small {
  font-size: 30px;
  padding-top: 1px; }

.site-title :first-child {
  margin-right: 10px; }

.site-title-links {
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 60px 0;
  text-align: left;
  position: fixed;
  bottom: 20px; }

.site-title-links ul {
  list-style: none;
  padding: 0; }

.site-title-links ul li {
  display: block;
  margin: 5px 0;
  font-size: 18px; }

.site-title-links a {
  border-bottom: solid #ffffff 2px; }

.no-margin-left {
  margin-left: 0; }

.no-margin-right {
  margin-right: 0; }

.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

a {
  color: #ffffff;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  border-bottom: solid #ffffff 2px;
  padding: 0;
  cursor: pointer;
  cursor: hand; }

a:hover {
  color: #2e405b !important;
  background-color: #ffffff;
  text-decoration: none;
  border-bottom: solid transparent 2px; }

a:focus {
  text-decoration: none;
  color: #b3b3b3; }

.a-title {
  text-decoration: none;
  background-color: transparent;
  border-bottom: solid transparent 2px; }

.a-title:hover {
  background-color: transparent; }

.a-title:focus {
  background-color: transparent; }

.current {
  border-bottom: solid #ffffff 3px !important; }

.a-mute {
  background-color: transparent;
  color: #ffffff !important;
  text-decoration: none;
  border-bottom: none; }

.a-mute:hover {
  background-color: transparent;
  color: #ffffff !important;
  text-decoration: none;
  border-bottom: none; }

.a-mute:focus {
  background-color: transparent;
  color: #ffffff !important;
  text-decoration: none;
  border-bottom: none; }

.soc {
  margin: 0 5px 0 0;
  font-size: 18px !important; }

.soc a {
  border-bottom: solid transparent 2px; }

.soc a:hover {
  color: #e6e6e6 !important;
  background-color: transparent !important;
  text-decoration: none;
  border-bottom: solid transparent 2px; }

.soc a:focus {
  color: #e6e6e6 !important; }

.meta-item {
  margin: 0 10px 0 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

footer {
  margin-top: 10px;
  padding-top: 0;
  font-size: 12px;
  font-weight: bold; }

footer * {
  margin: 0; }

.post-container {
  margin: 0 0 20px 0;
  font-weight: normal; }

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin: 3px 0; }

.post-meta {
  font-size: 16px;
  margin: 10px 0; }

.post-abstract {
  font-size: 18px; }

li {
  margin: 5px 0; }

figure {
  overflow: scroll; }

figure > table {
  width: 100%; }

pre * {
  font-family: Monaco, Menlo, "Source Code Pro", monospace; }

figure .gutter pre {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
  text-align: right;
  min-width: 3em; }

figure .code {
  width: 99%; }

figure .code pre {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: solid rgba(0, 0, 0, 0.05) 1px;
  margin-right: 1px; }

@media (max-width: 768px) {
  body {
    line-height: normal; }
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 34px; }
  h3 {
    font-size: 28px; }
  h4 {
    font-size: 22px; }
  h5 {
    font-size: 16px; }
  h6 {
    font-size: 14px; }
  .site-title-large {
    font-size: 38px; }
  .site-title-small {
    font-size: 22px; }
  .vertical-text {
    writing-mode: horizontal-tb; }
  .site-title {
    margin: 0;
    font-weight: bolder;
    font-style: normal;
    width: auto;
    height: auto;
    font-size: 0.5em;
    padding: 0;
    border-left: none;
    text-align: center;
    transition: none; }
  .site-title * {
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .site-title:hover {
    color: #ffffff !important;
    background: transparent !important;
    padding: 0;
    border: none; }
  .site-title:hover * {
    color: #ffffff !important;
    background: transparent !important; }
  .main-container {
    text-align: left;
    height: auto;
    margin: 0;
    padding: 20px 30px;
    overflow: auto; }
  .side-container {
    padding: 40px 30px 0 30px;
    height: auto;
    position: relative;
    left: 0; }
  .site-title-links {
    position: unset;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center; }
  .site-title-links ul li {
    display: inline;
    margin: 0 3px;
    font-size: 16px; }
  footer {
    padding-top: 30px;
    padding-bottom: 35px; }
  a {
    padding: 0; }
  .post-title {
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0; }
  .post-meta {
    font-size: 14px;
    margin: 10px 0; }
  .post-abstract {
    font-size: 16px; }
  .soc {
    display: block !important; }
  .site-nav-footer {
    display: none !important; }
  .site-bottom-footer {
    display: block !important; }
  li.soc {
    margin-top: 5px !important; } }

@media only screen and (max-height: 860px) {
  .site-title-large {
    font-size: 32px; }
  .site-title-small {
    font-size: 20px; }
  .site-title-links ul li {
    font-size: 14px;
    line-height: 1.3; }
  .site-nav-footer-br {
    display: none; }
  .side-container {
    padding-top: 40px;
    padding-bottom: 20px; }
  .main-container {
    padding-top: 40px;
    padding-bottom: 60px; } }

@media only screen and (max-height: 600px) {
  body {
    line-height: normal; }
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 34px; }
  h3 {
    font-size: 28px; }
  h4 {
    font-size: 22px; }
  h5 {
    font-size: 16px; }
  h6 {
    font-size: 14px; }
  .site-title-large {
    font-size: 38px; }
  .site-title-small {
    font-size: 22px; }
  .vertical-text {
    writing-mode: horizontal-tb; }
  .site-title {
    margin: 0;
    font-weight: bolder;
    font-style: normal;
    width: auto;
    height: auto;
    font-size: 0.5em;
    padding: 0;
    border-left: none;
    text-align: center;
    transition: none; }
  .site-title * {
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .site-title:hover {
    color: #ffffff !important;
    background: transparent !important;
    padding: 0;
    border: none; }
  .site-title:hover * {
    color: #ffffff !important;
    background: transparent !important; }
  .main-container {
    text-align: left;
    height: auto;
    margin: 0;
    padding: 20px 30px;
    overflow: auto; }
  .side-container {
    padding: 40px 30px 0 30px;
    height: auto;
    position: relative;
    left: 0; }
  .site-title-links {
    position: unset;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center; }
  .site-title-links ul li {
    display: inline;
    margin: 0 3px;
    font-size: 16px; }
  footer {
    padding-top: 30px;
    padding-bottom: 35px; }
  a {
    padding: 0; }
  .post-title {
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0; }
  .post-meta {
    font-size: 14px;
    margin: 10px 0; }
  .post-abstract {
    font-size: 16px; }
  .soc {
    display: block !important; }
  .site-nav-footer {
    display: none !important; }
  .site-bottom-footer {
    display: block !important; } }
